table, th, td {
    border: 2px solid black;
    font-size: 18px;
    padding:10px;
}

form, label, input {
    
    font-size: 18px;
    padding:10px;
}

input{
    margin-top:10px;
}
a{
    font-size:25px;
   
}

a:hover{
    cursor: pointer;
    
}