<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">OrderManagement</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link"  routerLink="/orders" routerLinkActivate="active">Orders</a> 
        <!-- <a  uiSref="orders" uiSrefActive="active">orders </a> -->
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/special" routerLinkActivate="active">Members</a>
      </li> -->
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
         <a class="nav-link"  routerLink="/login" routerLinkActivate="active">Login</a> 
        <!-- <a   uiSref="login" uiSrefActive="active">Login</a> -->
      </li>
      <!-- <li class="nav-item"> -->
        <!-- <a class="nav-link"  routerLink="/register" routerLinkActivate="active">Register</a> -->
        <!-- <a  uiSref="register" uiSrefActive="active">register</a> -->
      <!-- </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" *ngIf = "authService.loggedIn()" style="cursor:pointer" (click)="authService.logoutUser()">Logout{{user}}</a>
      </li> -->
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
 <!-- <ui-view></ui-view> -->
</div>